header {
    border: solid 1px #a66da8;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    padding-right: 2em;
}

.disabled {
    color: grey;
}

a .disabled {
    color: purple;
}

.active {
    color: yellow;
}

.parent div:first-child {
    color: red;
}

.parent div:nth-child(3) {
    color: blue;
}

.parent h4:nth-child(2) {
    background-color: red;
}

.parent h4:nth-child(4) {
    background-color: blue;
}

.promo {
    font-weight: bold;
    color: gold;
}

input {
    line-height: 25px;
}

.grandparent > h4 {
    border: solid 1px black;
    border-radius: 25px;
}